@model TellStoryTogether.Models.Article

<section id="main-section" class="item-hide">
    <div id="show" class="show" style="width: auto;">
    </div>
    <div id="title" class="show-label" style="margin-top: 100px; margin-bottom: 50px">
        <h3 class="ui horizontal divider header"></h3>
    </div>
    <div id="loader" class="ui basic segment" style="margin-top: 100px">
        <div class="ui active centered loader"></div>
    </div>
    <div id="slider" class="slickcarousel" style="margin-bottom: 0px !important"></div>
    <div id="slider-item">
        <div class="ui justified container segment story-container-read">
            <img id="image" src="" class="img-fluid ui rounded left floated image" style="max-width: 37%; height: auto;">
            <p id="text" class="text-no-ellipsis">text</p>
            <p class="title-ellipsis">By <span id="owner">username</span></p>
            
            <div class="bottom ui four column grid">
                <div class="ui labeled button mini cursor-default seen">
                    <div class="ui basic blue button mini cursor-default">
                        <i class="eye blue icon"></i> Seen
                    </div>
                    <div class="ui basic label blue mini cursor-default">
                        0
                    </div>
                </div>
                <div class="ui labeled button mini star">
                    <div class="ui basic yellow button mini">
                        <i class="star outline icon"></i> Favourite
                    </div>
                    <div class="ui basic label yellow mini cursor-default">
                        0
                    </div>
                </div>
                <div class="ui labeled button mini heart">
                    <div class="ui basic red button mini">
                        <i class="heart outline icon"></i> Like
                    </div>
                    <a class="ui basic label red mini cursor-default">
                        0
                    </a>
                </div>
                <div class="ui labeled button mini comment">
                    <div class="ui basic green button mini">
                        <i class="comment outline icon cursor-default"></i> Comment
                    </div>
                    <div class="ui basic label green mini">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="show-foot" class="row" style="clear: left;">
        <div class="col-5 text-right">
            <div class="share"></div>
        </div>
        <div class="col-2 text-center">
            <div class="ui label line" style="padding-top: 30px !important; padding-bottom: 30px !important; padding-right: 2px !important; padding-left: 2px !important;"></div>
        </div>
        <div class="col-5 text-left" style="margin-top:5px">
            <div class="ui basic button mini fork">
                <i class="vertically flipped fork icon"></i> Fork
            </div>
        </div>
    </div>
    
</section>

@section Scripts{
    <script>
    $(document).ready(function() {

        /*        $("#share").jsSocials({
                    shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
                });*/

        var $section = $('#main-section');
        var $show = $section.find('#show').clone();
        var $title = $section.find('#title').clone();
        var $loader = $section.find('#loader').clone();
        var $slider = $section.find('#slider').clone();
        var $sliderItem = $section.find('#slider-item').clone();
        var $showFoot = $section.find('#show-foot').clone();
        $section.find('#show').remove();
        $section.find('#title').remove();
        $section.find('#loader').remove();
        $section.find('#slider').remove();
        $section.find('#slider-item').remove();
        $section.find('#show-foot').remove();
        $section.removeClass('item-hide');

        // Create first article from the model
        var $show1 = $show.clone().attr('id', 'show-1').attr('show-seri', 1);
        var $title1 = $title.clone().attr('id', 'title-1');
        $title1.children().eq(0).html("@Model.Title");
        var $slider1 = $slider.clone().attr('id', 'slider-1');
        var $sliderItem1 = $sliderItem.clone().attr('id', 'slider-item-1');
        $sliderItem1.find('#image').attr('src', "@Model.PictureUrl").attr('id', 'image-' + "@Model.ArticleId");
        $sliderItem1.find('#text').attr('id', 'text-' + "@Model.ArticleId").html("@Model.Text");
        $sliderItem1.find('#owner').attr('id', 'owner-' + "@Model.Owner").html("@Model.Owner.UserName");
        $sliderItem1.find('.seen').attr('article', @Model.ArticleId).find('.label').html("@Model.Seen");
        $sliderItem1.find('.heart').attr('article', @Model.ArticleId).find('.label').html("@Model.Point");
        $sliderItem1.find('.star').attr('article', @Model.ArticleId).find('.label').html("@Model.Favorite");
        $sliderItem1.find('.comment').attr('article', @Model.ArticleId).find('.label').html("@Model.Comment");
        $slider1.append($sliderItem1);

        var $showFoot1 = $showFoot.removeAttr('id').clone();
        $showFoot1.find('.fork').attr('identifier', @Model.Identifier);
        $showFoot1.find('.share').jsSocials({
            shares: ["email", "twitter", "facebook", "googleplus"],
            url: '@Url.Action("Index", "Read", null , Request.Url.Scheme)' + '/?identifier=@Model.Identifier',
            text: "Story link to share",
            showLabel: false,
            showCount: false
        });
    $sliderItem1.append($showFoot1);

    $show1.append($title1).append($slider1);
    $section.append($show1);

    $('#slider-1').slick(({
        infinite: false,
        touchThreshold: 3,
        autoplay: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        prevArrow: '<span class="prev"><i class="fitted huge angle left icon green" aria-hidden="true"></i></span>',
        nextArrow: '<span class="next"><i class="fitted huge angle right icon green" aria-hidden="true"></i></span>'
    }));

    // Create rest of articles with slider from viewbag
    function loadRestByIdentifier(paramIdentifier) {
        // Add loader by temprory showTemp
        var $showTemp = $show.clone().attr('id', 'show-temp');
        var $loaderTemp = $loader.clone().attr('id', 'loader-temp');
        $showTemp.append($loaderTemp);
        $section.append($showTemp);

        var loadRest = new XMLHttpRequest();
        loadRest.onload = function() {
            var listListArticle = $.parseJSON(this.responseText);
            // Result are ready, remove the showTemp and loader
            $showTemp.remove();

            //var lengthOfSeries = listListArticle.length;
            $.each(listListArticle, function(index, value) {
                var seri = value[0].Serial;
                var $showN = $show.clone().attr('id', 'show-' + seri).attr('show-seri', seri);;
                var $sliderN = $slider.clone().attr('id', 'slider-' + seri);
                $showN.append($sliderN);
                $section.append($showN);

                $.each(value, function(i, v) {
                    var $newSliderItem = $sliderItem.clone();
                    $newSliderItem.attr('id', v.ArticleId);
                    $newSliderItem.attr('seri', seri);
                    $newSliderItem.attr('parallel', v.Parallel);
                    if (v.PictureUrl == null) {
                        $newSliderItem.find('#image').remove();
                    } else {
                        $newSliderItem.find('#image').attr('src', v.PictureUrl).attr('id', 'image-' + v.ArticleId);
                    }
                    $newSliderItem.find('#owner').attr('id', 'owner-' + v.ArticleId).html(v.Owner.UserName);
                    $newSliderItem.find('#text').attr('id', 'text-' + v.ArticleId).html(v.Text);
                    $newSliderItem.find('.seen').attr('article', v.ArticleId).find('.label').html(v.Seen);
                    $newSliderItem.find('.heart').attr('article', v.ArticleId).find('.label').html(v.Point);
                    $newSliderItem.find('.star').attr('article', v.ArticleId).find('.label').html(v.Favorite);
                    $newSliderItem.find('.comment').attr('article', v.ArticleId).find('.label').html(v.Comment);

                    var $showFootN = $showFoot.removeAttr('id').clone();
                    $showFootN.find('.fork').attr('identifier', v.Identifier);
                    $showFootN.find('.share').jsSocials({
                        shares: ["email", "twitter", "facebook", "googleplus"],
                        url: '@Url.Action("Index", "Read", null , Request.Url.Scheme)'+ '/?identifier=' + v.Identifier,
                        text: "Story link to share",
                        showLabel: false,
                        showCount: false
                    });
                    $newSliderItem.append($showFootN);
                    $sliderN.append($newSliderItem);
                });
                $('#slider-' + seri).slick(({
                    infinite: false,
                    touchThreshold: 3,
                    autoplay: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    draggable: false,
                    swipeToSlide: true,
                    arrows: true,
                    prevArrow: '<span class="prev"><i class="fitted huge angle left icon green" aria-hidden="true"></i></span>',
                    nextArrow: '<span class="next"><i class="fitted huge angle right icon green" aria-hidden="true"></i></span>'
                }));
                $('#slider-' + seri).find('.prev').hide();
                var tempSlideId;
                $('#slider-' + seri).on('beforeChange', function(event, slick, currentSlide) {
                    tempSlideId = $(slick.$slides.get(currentSlide)).attr('id');
                });
                $('#slider-' + seri).on('afterChange', function(event, slick, currentSlide) {
                    if (tempSlideId !== $(slick.$slides.get(currentSlide)).attr('id')) {
                        if (currentSlide === 0) {
                            $('#slider-' + seri).find('.prev').hide();
                        } else {
                            $('#slider-' + seri).find('.prev').show();
                        }
                        if (currentSlide === value.length - 1) {
                            $('#slider-' + seri).find('.next').hide();
                        } else {
                            $('#slider-' + seri).find('.next').show();
                        }

                        var articleId = $(slick.$slides.get(currentSlide)).attr('id');
                        var articleSeri = Number($(slick.$slides.get(currentSlide)).attr('seri'));
                        $('.show').filter(function() {
                            return $(this).attr('show-seri') > articleSeri;
                        }).remove();
                        // load next
                        loadRestByIdentifier(articleId);
                    }
                });
            });

            // change the fork button to create button and remove the verticla line
            var lastShowNum = $('[show-seri]').length;
            var $lastShow = $section.find("div[show-seri=" + lastShowNum + "]");
            $lastShow.find('.slick-current').find('.line').remove();
            $lastShow.find('.slick-current').find('.fork').html('<i class="plus icon"></i> Add');

        }
        loadRest.open("POST", "/Read/ArticleAttach?identifierOrArticleId=" + paramIdentifier);
        loadRest.send();
    }

    $("#main-section").on("click", ".button", function() {
        if ($(this).hasClass("seen")) {

        } 
        else if ($(this).hasClass("star")) {
            alert('star-'+$(this).attr('article'));
        } 
        else if ($(this).hasClass("heart")) {
            alert('heart-'+$(this).attr('article'));
        } 
        else if ($(this).hasClass("comment")) {
            alert('comment-'+$(this).attr('article'));
        }
        else if ($(this).hasClass("fork")) {
            alert('identifier-'+$(this).attr('identifier'));   
        }
    });

    loadRestByIdentifier("@ViewBag.Identifier");

    });
</script>
}