<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Tell Story Together</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap_css/bootstrap.min.css">*@
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    @*<link rel="stylesheet" type="text/css" href="~/Content/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Semantic-UI-CSS-master/transition.min.css">*@
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/loader.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/container.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/label.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/image.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/button.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/divider.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css" rel="stylesheet"/>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" rel="stylesheet" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    



    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-plain.css" />

    <meta name="viewport" content="width=device-width"/>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light navbar-static-top" >
        <a class="navbar-brand" href="@Url.Action("Index", "Home", null)">
            <img class="logo" src="@Url.Content("~/Images/TellStoryTogether3.png")">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
            </ul>
            <form class="form-inline mx-lg-auto my-2 my-lg-0">
                <div class="ui icon input">
                    <input type="text" placeholder="Search" aria-label="Search">
                    <i class="circular search link icon"></i>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="@Url.Action("Index", "Home")">&#9679; Home</a></li>
						<li><a href="@Url.Action("About", "Home")">&#9679; About</a></li>
						<li><a href="@Url.Action("Contact", "Home")">&#9679; Contact</a></li>
						<li><a href="@Url.Action("Start", "Home")">&#9679; Get Started</a></li>
						<li><a href="@Url.Action("FAQ", "Home")">&#9679; FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();">&#9679; Home</a></li>
						<li><a href="javascript:void();">&#9679; About</a></li>
						<li><a href="javascript:void();">&#9679; FAQ</a></li>
						<li><a href="javascript:void();">&#9679; Get Started</a></li>
						<li><a href="javascript:void();">&#9679; Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();">&#9679; Home</a></li>
						<li><a href="javascript:void();">&#9679; About</a></li>
						<li><a href="javascript:void();">&#9679; FAQ</a></li>
						<li><a href="javascript:void();">&#9679; Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by">&#9679; Imprint</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
			</div>	
		</div>
	</section>
</div>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")*@

<script>
    $(document).ready(function () {

        // notification dropdown is clicked, and notifications are seen
        $('.dropdown.notification').on('shown.bs.dropdown', function () {
            var seenNotificationRequest = new XMLHttpRequest();
            seenNotificationRequest.onload = function () {
                var result = $.parseJSON(this.responseText);
                if (result === "done") {
                    $('.NotificationNumber').html('');
                    $('.bell.red.icon').addClass('outline');
                }
            }
            seenNotificationRequest.open("POST", "/Home/SeeNotifications");
            seenNotificationRequest.send();
        });

    });
</script>


@RenderSection("scripts", required: false)

@*<script src="~/Scripts/bootstrap_js/bootstrap.min.js"></script>*@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
@*<script src="~/Content/Semantic-UI-CSS-master/semantic.min.js"></script>
<script src="~/Content/Semantic-UI-CSS-master/transition.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>

@*<script src="~/Content/MyScript.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

</body>
</html>
            