@using TellStoryTogether.Helper
@using TellStoryTogether.Models
@{ Notification[] allNotifications = DbHelper.UserAllNotifications();}

@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Favorites</a>
        <div id="favorite-dropdown" class="dropdown-menu">
            <a id="favorite-header" class="dropdown-item" href="#">No article</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Scripts</a>
        <div id="script-dropdown" class="dropdown-menu">
            <a id="script-header" class="dropdown-item" href="#">No article</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Create", new {identifier = "new"})">
            Create
        </a>
    </li>
    <li class="nav-item dropdown">
        @if (allNotifications.Length > 0)
        {
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                @if (allNotifications.Count(p => p.Seen == false) != 0)
                {
                    <i class="bell red icon"></i><span style="color: darkred">@allNotifications.Count(p => p.Seen == false)</span>
                }
                else
                {
                    <i class="bell outline red icon"></i><span>hello</span>
                    @allNotifications.Count();
                }

            </a>
    <div class="dropdown-menu dropdown-menu-right scrollable-menu">
        @foreach (Notification notification in allNotifications)
        {
            if (notification.Seen == false)
            {
                <a class="dropdown-item" style="font-weight: bold" href="@Url.Action("Index", "Read", new {identifier = notification.Identifier})">
                    <div class="dropdown-item-1 title-ellipsis-width">@notification.Article.Title</div>
                    <div class="dropdown-item-1 title-ellipsis-width" style="font-size: x-small">@notification.Article.Text</div>
                    <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">@notification.Article.Text</div>
                </a>
                <div class="dropdown-divider"></div>
            }
            else
            {
                <a class="dropdown-item" href="@Url.Action("Index", "Read", new {identifier = notification.Identifier})">
                    <div class="dropdown-item-1 title-ellipsis-width">@notification.Article.Title</div>
                    <div class="dropdown-item-1 title-ellipsis-width">@notification.Article.Text</div>
                </a>
            }
        }
    </div>
        }
        else
        {
            <a class="nav-link" href="#">
                <i class="bell outline icon"></i>
            </a>

        }
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Create", new {identifier = "new"})">
            <i class="trophy icon"></i>@DbHelper.UserPoints()
        </a>
    </li>
    <li class="nav-item">
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new {@class = "nav-link", title = "Manage"})
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "nav-link", @style = "padding: 0"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a>
        }
    </li>
}
else
{
    <li class="nav-item">
        <a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "nav-link"})</a>
    </li>
    <li class="nav-item">
        <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"})</a>
    </li>
}
