@using System.Security.Policy
@using TellStoryTogether.Helper
@using TellStoryTogether.Models
@{ NavPanel navPanel = new NavPanel(5);
    bool notFirst = false;}

@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Favorites</a>
        <div id="favorite-dropdown" class="dropdown-menu">
            @if (navPanel.CountFavorites() > 0)
            {
                <a class="dropdown-item" href="@Url.Action("Index", "Favorite")">
                    <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">See all favorites (@navPanel.CountFavorites())</div>
                </a>
                foreach (Article article in navPanel.UserFavorites())
                 {
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="@Url.Action("Index", "Read", new {identifier = article.Identifier})">
                         <div class="dropdown-item-1 title-ellipsis-width">@article.Title</div>
                         <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">@article.Text</div>
                     </a>
                 }
            }
            else
            {
                <a id="favorite-header" class="dropdown-item" href="#">No article</a>
            }
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Scripts</a>
        <div id="script-dropdown" class="dropdown-menu">
            @if (navPanel.CountScripts() > 0)
            {
                <a class="dropdown-item" href="@Url.Action("Index", "Script")">
                    <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">See all scripts (@navPanel.CountScripts())</div>
                </a>
                foreach (Article article in navPanel.UserScripts())
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Read", new {identifier = article.Identifier})">
                        <div class="dropdown-item-1 title-ellipsis-width">@article.Title</div>
                        <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">@article.Text</div>
                    </a>
                }
            }
            else
            {
                <a id="script-header" class="dropdown-item" href="#">No article</a>
            }
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Create", new {identifier = "new"})">
            Create
        </a>
    </li>
    <li class="nav-item dropdown notification">
        @if (navPanel.CountAllNotification() > 0)
        {
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                @if (navPanel.CountUnseenNotification() > 0)
                {
                    <i class="bell red icon"></i><span class="NotificationNumber" style="color: darkred">@navPanel.CountUnseenNotification()</span>
                }
                else
                {
                    <i class="bell outline red icon"></i>
                }
            </a>
            <div class="dropdown-menu dropdown-menu-right scrollable-menu">
                @foreach (NotificationShow notification in navPanel.UserAllNotifications())
                {
                    if (notFirst)
                    {
                        <div class="dropdown-divider"></div>
                    }
                    if (notification.Bold)
                    {
                        <a class="dropdown-item" style="font-weight: bold" href="@Url.Action("Index", "Read", new {identifier = notification.Identifier})">
                            <div class="dropdown-item-1 title-ellipsis-width">@notification.ArticleTitle</div>
                            <div class="dropdown-item-1 title-ellipsis-width" style="font-size: x-small">@notification.ArticleText</div>
                            <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">@notification.Content</div>
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="@Url.Action("Index", "Read", new {identifier = notification.Identifier})">
                            <div class="dropdown-item-1 title-ellipsis-width">@notification.ArticleTitle</div>
                            <div class="dropdown-item-1 title-ellipsis-width" style="font-size: x-small">@notification.ArticleText</div>
                            <div class="dropdown-item-1 title-ellipsis-width" style="font-size: small">@notification.Content</div>
                        </a>
                        
                    }
                    notFirst = true;
                }
            </div>
        }
        else
        {
            <a class="nav-link" href="#">
                <i class="bell outline icon"></i>
            </a>

        }
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Create", new {identifier = "new"})">
            <i class="trophy green icon"></i><span style="color: darkslategrey">@navPanel.UserPoints()</span>
        </a>
    </li>
    <li class="nav-item">
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new {@class = "nav-link", title = "Manage"})
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "nav-link", @style = "padding: 0"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a>
        }
    </li>
}
else
{
    <li class="nav-item">
        <a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "nav-link"})</a>
    </li>
    <li class="nav-item">
        <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"})</a>
    </li>
}
