
<section id="main-section" class="ui basic segment double stackable grid" style="margin-bottom: 50px !important; width: auto"></section>
<div id="loader" class="ui basic segment" style="margin-top: 200px">
    <div class="ui active centered loader"></div>
</div>

<div class="item-hide column show">
    <div class="ui justified container segment story-container">
        <img src="" class="img-fluid ui rounded left floated image" style="max-width: 37%; height: auto;">
        <h3>
            <a href="" class="title-ellipsis title">title</a>
        </h3>
        <a class="title-ellipsis owner">username</a>
        <p class="text-ellipsis show-title text">text</p>
        <div class="seen-heart">
            <div class="ui labeled button mini star cursor-default">
                <div class="ui basic yellow button mini cursor-default">
                    <i class="star outline icon"></i> Favourite
                </div>
                <div class="ui basic label yellow mini cursor-default">
                    0
                </div>
            </div>
            <div class="ui labeled button mini star cursor-default">
                <div class="ui basic red button mini cursor-default">
                    <i class="heart outline icon"></i> Like
                </div>
                <div class="ui basic label red mini cursor-default">
                    0
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {

            var keepLoading = false;
            var start = 0;
            var takeArticle = 12;

            var key = '@ViewBag.key';
            var value = '@ViewBag.value';
            var loggedIn = '@Context.User.Identity.IsAuthenticated' === 'True' ? true : false;
            var username = '@System.Web.HttpContext.Current.User.Identity.Name';
            var myAppUrlSettings = {
                myLoadArticleUrl: '@Url.Action("LoadArticles", "Article")',
                myArticleUrl: '@Url.Action("Index", "Article")',
                myReadUrl: '@Url.Action("Index", "Read")'
            }


            var $section = $('#main-section');
            var $show = $('.show').clone().removeClass('item-hide');
            $section.find('.show').remove();
            var $loader = $('#loader');

            var numberItemShowPerRow = 'three';
            if ($(window).width() >= 1380) {
                numberItemShowPerRow = 'four';
            }
            if ($(window).width() <= 1000) {
                numberItemShowPerRow = 'two';
            }
            if ($(window).width() <= 500) {
                numberItemShowPerRow = 'one';
            }
            $section.addClass(numberItemShowPerRow).addClass('column');

            function loadArticles(from, take) {
                keepLoading = false;
                var loadArticle = new XMLHttpRequest();
                var loadArticleData = new FormData();
                loadArticleData.append('key', key);
                loadArticleData.append('value', value);
                loadArticleData.append('from', from);
                loadArticleData.append('take', take);
                loadArticle.onload = function() {
                    var articleList = $.parseJSON(this.responseText);
                    $loader.hide();
                    if (articleList.length > 0) {
                        keepLoading = true;
                        start = start + articleList.length;
                        $.each(articleList, function(i, v) {
                            var $newShow = $show.clone();
                            $newShow.find('.image').attr('src', v.PictureUrl);
                            $newShow.find('.title').attr('href', myAppUrlSettings.myReadUrl + '?identifier=' + v.ArticleId).html(v.Title);
                            $newShow.find('.owner').attr('href', myAppUrlSettings.myArticleUrl +'?key=User&value=' + v.Owner.UserId).html(v.Owner.UserName);
                            $newShow.find('.text').html(v.Text);
                            $newShow.find('.label.yellow').html(v.Favorite);
                            $newShow.find('.label.red').html(v.Point);
                            $section.append($newShow);
                        });
                    }
                }
                loadArticle.open('POST', myAppUrlSettings.myLoadArticleUrl);
                loadArticle.send(loadArticleData);
            }

            loadArticles(start, takeArticle);

            $(window).scroll(function() {
                if (keepLoading) {
                    if ($(window).scrollTop() === $(document).height() - $(window).height()) {
                        keepLoading = false;
                        $loader.show();
                        loadArticles(start, takeArticle);
                    }
                }
            });

        });
    </script>
}
